<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>adjust</title>
  <link rel="stylesheet" href="" th:href="@{/css/01.css}" type="text/css" />
  <link rel="stylesheet" href="" th:href="@{/css/font.css}" type="text/css" />
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <style type="text/css">
  	input {
		border: none;
		border:1px solid #E0E0E0;
		color:#5F9EA0;
		font-size:20px;
		border-radius:6px;
	}
	label{
		line-height:10%;
		font-size:18px;
	}
	.plo{
		font-size:36px;
	}
	.oplm{
		width:240px;
		border-color:#5F9EA0;
		border-radius:2px;
		margin-left:100px;
		line-height:10%;
		font-size:20px;
		border: none;
		border:1px solid #E0E0E0;
		color:#5F9EA0;
	}
  </style>
</head>
<body>
   	   <div align="center" style="margin-top:30px;">
   	   	   <label class="plo">员工信息的得分调整</label><br/><br/><br/><br/>
	       <label> 工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号 :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id="number"/></label><br/><br/>
	       <label> 类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型 :&nbsp;&nbsp;&nbsp;
	       <select id="type" style="width:240px;border-color:#5F9EA0;border-radius:2px;border:1px solid #E0E0E0;color:#5F9EA0;height:28px">
				  <option value="opel" disabled="disabled" selected="selected">全部</option>
				  <option value="奉献">奉献</option>
				  <option value="创新">创新</option>
				  <option value="攻坚">攻坚</option>
				  <option value="请假">请假</option>
				  <option value="调休">调休</option>
		   </select>
		   </label><br/><br/>
	       <label> 分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数 :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id="grade"/></label><br/><br/>
	       <label> 调分原因 :&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" id="detail"/></label><br/><br/><br/>
	       <label><input onclick="addGrade()" type="button" name="" value="确认调分"/></label>
       </div>
        <script type="text/javascript" th:inline="javascript">
        function addGrade(){
			$.ajax({
				url:"member/addGrade",
				data:{"type":$("#type").val(),"grade":$("#grade").val(),"detail":$("#detail").val(),"membernumber":$("#number").val()},
				type:'post',
				success:function(res){
				if(res.code=="200"){
					//执行登录操作前 清空密码框
					alert(res.message);
					window.location.href="adjust";
					}else {
						alert(res.message);
					}
				}
			})
		}
        </script>
</body>
</html>